*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(0, 206, 247);
    height: 120px;  
    display: flex;
    align-items: center;
    justify-content: left; 
    padding: 5px;
}

.logo{
    height: 100px;
    width: 100px;
    background-color: orange;
    background-image: url(swami.webp);
    background-size: cover;
    
}